{% extends "layout.html.twig" %}

{% block content %}
<form method="post">
    <label for="title">titre:</label>
    <input type="text" id="title" name="title" class="tricksTitle"></input>
    <label for="message">Decriver votre astuce:</label>
    <textarea id="message" name="content" class="tricksContent"></textarea>
    <button type="submit" value="Valider">Soumettre votre astuce</button>

    <div class="check">
        {% for error in errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% for category in categories %}
        <input class="check-input" type="checkbox" id="category{{category.id}}" name="category_id[]" value="{{category.id}}">
        <label class="check-label" for="category{{category.id}}">{{category.name}}</label>
        {% endfor %}
    </div>
        
</form>
{% endblock %}